

.quality {
   color:#ff0000;
   background-color:#99ffff;
   font: bold 100% sans-serif;
}

.section {
   font: bold 100% sans-serif;
}

.modifier {
   background-color:#00ffff;
}

.parallel {
   font: bold 100% sans-serif;
   background-color:#ff99ff;
}

.lastParallel {
   font: bold 100% sans-serif;
   background-color:#ff6633;
}

.word {
   font: bold 100% sans-serif;
   background-color:#99ff99;
}

.requirement {
   font: bold 110% sans-serif;
   background-color:#A3D070;
}

.reqSmall {
   font: bold 100% sans-serif;
   background-color:#D1FC9F;
}
